body{
    position: relative;
}
.container{
    position: absolute;
    width: 100vw;
    height: 94vh;
    margin-top: 50px;
    background-color: aqua;
}
.reload{
    /* position: absolute; */
    background-color: transparent;
    border: none;
    font-size: 32px;
    color:#01131f;
    padding-top: 50px;
    padding-left: 500px;
    /* cursor: pointer; */
}
.reload:hover{
    cursor: pointer;
    color:#ff005d;
}